/*Fuentes personalizadas*/

@font-face{
    font-family: "Titulo";
    src: url(../Fuentes/ballpark.woff);
}

@font-face{
    font-family: "Titulo_2";
    src: url(../Fuentes/dayrom.woff)
}

/*Fondo de color de la página*/

body{
    background-color: bisque;
}

/*Estilo para la barra de navegación*/

#p_1{
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: "Titulo_2";
}

/*Estilo para la barra que divide el nav con la sección*/

#hr_1{
    color: purple;
}

/*Estilo para el primer bloque*/

#div_1{
    width: 1820px;
    height: 300px;
    padding-left: 2px;
}

/*Estilo para el párrafo que hay dentro de header*/

#p_2{
    text-align: left;
    font-size: 50px;
    font-family: "Titulo";
}

/*Estilo para la foto que hay dentro de header*/

#imagen_1{
    position: left;
    float: left;
}

/*Estilo para el bloque de nav*/

#div_2{
    width: 700px;
    height: 100px;
}

/*Estilo para la foto que hay después del header*/

#div_3{
    width: 1699px;
    height: 229px;
    margin-left: 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/*Estilo para el el artículo*/

#div_4{
    width: 1000px;
    height: 1000px;
    border: 1px solid black;

}














