/*Fuentes personalizadas*/

@font-face{
    font-family: "Titulo";
    src: url(../Fuentes/ballpark.woff);
}

@font-face{
    font-family: "Titulo_2";
    src: url(../Fuentes/dayrom.woff)
}

/*Fondo de color de la página*/

body{
    background-color: bisque;
}

/*Estilo para la barra de navegación*/

#p_1{
    color: black;
    text-align: center;
    font-family: "Titulo_2";
}

/*Estilo de pre*/

#pre_1{
    font-size: 30px;
}

/*Estilo para la barra que divide el nav con la sección*/

#hr_1{
    color: purple;
}

/*Estilo para el primer bloque*/

#div_1{
    width: 1820px;
    height: 300px;
    padding-left: 2px;
    margin-block-end: 5px;
}

/*Estilo para el párrafo que hay dentro de header*/

#p_2{
    text-align: left;
    font-size: 50px;
    font-family: "Titulo";
    padding-top: 50px;
}

/*Estilo para el parra de header*/

#p_3{
    font-size: 20px;
    text-align: left;
    padding-top: -50px;
}

/*Estilo para la foto que hay dentro de header*/

#imagen_1{
    position: left;
    float: left;
}

/*Estilo para el párrafo que hay debajo de la foto*/

#div_8{
    width: 300px;
    height: 50px;
    padding-top: -50px;
}

/*Estilo para el bloque de nav*/

#div_2{
    width: 700px;
    height: 100px;
    padding-left: 700px;
    padding-top: 0px;
}

/*Estilo para la foto que hay después del header*/

#div_3{
    width: 1699px;
    height: 229px;
    margin-left: 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-block-end: 10px;
}

/*Estilo para el el artículo*/

#div_4{
    width: 1400px;
    height: 550px;
    margin-left: 10px;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-block-end: 10px;
}

/*Estilo para el párrafo del artículo*/

#p_4{
    position: relative;
    padding-top: -10px;
}

/*Estilo para la foto del artículo*/

#imagen_2{
    position: left;
}


/*Estilo para el bloque de aside*/

#div_5{
    width: 400px;
    height: 550px;
    float: left;
    margin-bottom: 5px;
    background-color: gray;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 9px;
}


/*Estilo para la imagen de debajo de la segunda línea*/

#imagen_3{
    margin-left: 850px;
}

/*Estilo para el bloque dentro de aside*/

#div_6{
    padding-top: 400px;
}

/*Estilo para las fotos de dentro de aside*/

#imagen_4{
   margin-right: 9px;
}

#imagen_5{
   margin-right: 9px;
}  

#imagen_6{
   margin-right: 9px;
}

/*Estilo para el párrafo de dentro de aside*/

#p_5{
    font-size: 20px;
    font-family: "Titulo_2";
    color: white;
}

/*Estilo para la linea que separa el aside y section de footer*/

#linea{
    margin-top: 570px;
}


























